<html>
    <head>
        <title>
            About Author
        </title>

        <style>
            .PRF {
                
                background-color: white;
                border: 2px solid black;
                color: green;
                padding: 5px 10px;
                text-align: center;
                display: inline-block;
                font-size: 20px;
                margin: 10px 30px;
                cursor: pointer;

            }
        </style>

    </head>

    <body>
        <h1>
            Azharuddin Ansari
        </h1>

        <!-- Adding link to linkedin Profile-->>
       <button class="PRF" onclick="window.location.href = 'https://www.linkedin.com/in/azharuddinansari232' ">
        Linkedin Profile
       </button>
        <h2>
           Data Scientist | Python Developer | BI | SQL | C++ 
        </h2>
        <p>
            Hey there! <br>
            This is Azharuddin Ansari's webpage. <br>
            He has Done his graduation in the field of Computer Science & Engineering.
            Currently working on Data Science Projects.
        </p>

        <h3>
            SKILLS
        </h3>
        <table>
            <tr>
                <th>Skill</th>
                <th>Experience</th>
                <th>Certification</th> 
            </tr>
            <tr>
                <td>Data Science</td>
                <td>1 Years</td>
                <td>LearnVern ID: CAN_13579303484680</td>
            </tr>
            <tr>
                <td>Data Analytics</td>
                <td>6 months</td>
                <td>Linkedin ID: ccfe3d48652608b30724808694a925bec902c9c82c32dd530756e478c87cc9c8</td>
                </td>
            </tr>
            <tr>
                <td>Data Analytics Extended</td>
                <td>6 months</td>
                <td>Linkedin ID: 841404f7092c9b907be288e1b29a2b2b7d509a7343a889ded92baa1ec149236b</td>
            </tr>
            <tr>
                <td>SQL</td>
                <td>1 Years</td>
                <td>Simplilearn ID: 4385975/td>
            </tr>

        </table>
    </body>
</html>