<html>
    <head>

        <script type = "text/javascript"
         src="{{ url_for('static', filename = 'hello.js') }}">
        </script>

        <title>
            Flask Web Page Index
        </title>

        <style>
            h1 {
                text-align: center;
                color: black;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }

            body {
                text-align: center;
                margin: 5px 10px;
                border: 2px black;
                padding: 5px;
                text-decoration: dotted;

            }
        </style>

    </head>

    <body>
        <h1>DRAZRA GROUP OF COMPANIES</h1>
        <a href="http://localhost:5000/Home.html">HOME</a>
        <a href="http://localhost:5000/gallary.html">GALLARY</a>
        <a href="http://localhost:5000/about.html">ABOUT</a>
        <!-- <a href="http://localhost:5000/result.html">RESULT</a> -->
        <a href="http://localhost:5000/index.html">INDEX</a>
        <a href="http://localhost:5000/contact.html">CONTACT</a>
        <br>
        <h1>
            This is your index page
        </h1>

        <input type="button" onclick="sayHello()" value="Say Hello !">

        <br><br><br>

        <form action="/setcookie/" method="POST">
            <p><h3>Enter userID </h3></p>
            <p><input type="text" name="nm"/></p>
            <p><input type="submit" value="Login"></p>
        </form>
    </body>
</html>